body {
  background-color: #87CEEB;
  margin-top: 25px;
  font-size: 21px;
  text-align: center;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#test {
  animation: fadein 5s;
}

h1 {
  background-color: #FF0000;
  color: #060801;
  text-align: center;
}

h2 {
  background-color: #2F4F4F;
  color: #060801;
  font-style: oblique;
  text-align: center;
}

p {
  background-color: #f8f8ff;
  color: #060801;
  font-family: sans-serif;
}

ul {
  line-height: 40px;
}
